@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--f-font);
}

html 
{
    scroll-behavior: smooth;
}

:root 
{
    --primary-color: #4E47FF;
    --second-color: #F4F6FF;
    --f-font: "Poppins", sans-serif;
    --s-font: "Quicksand", sans-serif;
}

.main-btn 
{
    padding: 10px 30px;
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.main-btn:hover 
{
    background: #2820fa;
}

/* header section start */
.header
{
    background-image: url("../img/Hero-bg.png");
    background-repeat: no-repeat;
    padding-bottom: 120px;
}

.hero-section 
{
    padding: 0px 240px;
}

.navbar 
{
    padding: 30px 0px;
}

.navbar nav 
{
    display: flex;
    justify-content: space-between;
}

.logo h3 
{
    font-size: 1.6rem;
    color: var(--primary-color);
    font-weight: bolder;
}

.hero-content 
{
    text-align: center;
    padding: 180px 0px 20px 0px;
}

.hero-content h1
{
    font-weight: 800;
    font-size: 2.5rem;
    font-family: var(--s-font);
}

.hero-content button 
{
    margin: 30px 0px 40px 0px;
}
/* header section end */


/* About section start */
.about 
{
    padding: 80px 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--second-color);
}

.about h3 
{
    font-family: var(--s-font);
    font-size: 1.8rem;
    padding-bottom: 15px;
}

.about p 
{
    font-weight: 300;
    padding-bottom: 15px;
    color: #a8a8a8;
}

.about img 
{
    border-radius: 60px;
    width: 340px;
}
/* About section end */


/* Counter section start */
.counter 
{
    background: var(--second-color);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
}

.counter-section 
{
    background: #E7E7FF;
    padding: 20px 0px;
    border-radius: 10px;
    width: 950px;
}

.counter h4 
{
    text-align: center;
    font-size: 1.3rem;
    font-family: var(--s-font);
}

.counter-content 
{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 30px;
}

.counter-content h4 
{
    font-size: 3.5rem;
    font-weight: bold;
    color: var(--primary-color);
}

.counter-content p 
{
    font-size: 0.9rem;
    color: gray;
}
/* Counter section end */


/* review section start */
.review 
{
    background: var(--second-color);
    padding: 30px 0px;
}

.review h5
{
    text-align: center;
    font-family: var(--s-font);
    font-size: 1.8rem;
}

.review i 
{
    color: #FFB805;
}

.review .card-section 
{
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 30px;
}

.review .card 
{
    background: #fff;
    width: 310px;
    padding: 8px 10px;
    border-radius: 8px;
    border: 2px solid #F7F2F2;
}

.review .card h4 
{
    padding: 8px 0px;
    font-size: 1.1rem;
    font-weight: 600;
}

.review .card p 
{
    font-size: 0.8rem;
    padding-bottom: 8px;
}

.review .card .profile 
{
    display: flex;
    gap: 10px;
}

.review .card .profile img 
{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.review .card .profile .profile-content h6
{
    font-size: 0.9rem;
    color: gray;
    font-weight: 500;
}

.review .card .profile .profile-content p 
{
    color: #B3B3B3;
}
/* review section end */


/* contact section start */
.contact 
{
    background: var(--second-color);
}

.contact-content 
{
    display: flex;
    padding: 30px 200px;
    justify-content: space-evenly;
    align-items: center;
}

.contact-content  h2 
{
    font-size: 3rem;
}

.contact-content form div 
{
    margin-bottom: 8px;
}

.contact-content input,
.contact-content textarea 
{
    width: 300px;
    padding: 10px 6px;
    margin-top: 10px;
    outline: none;
    border-radius: 5px;
    border: 1px solid #C9CFE3;
}

.contact-content textarea 
{
    height: 80px;
}

.contact-content .main-btn 
{
    width: 300px;
}
/* contact section end */


/* footer section start */
.footer-content 
{
    text-align: center;
    padding: 30px 0px;
}

.footer-content h2 
{
    font-size: 3rem;
    color: var(--primary-color);
}

.footer-content p 
{
    font-size: 0.9rem;
    padding-bottom: 8px;
    color: gray;
}

.footer-content .link-section  
{
    display: flex;
    gap: 10px;
    justify-content: center;
}

.footer-content .link-section a
{
    text-decoration: none;
    color: gray;
}
/* footer section end */